<?xml version="1.0" encoding="UTF-8"?>
<VIM>
    <Server>
        <Port>54000</Port>
        <KubernetesConfig>kube.conf</KubernetesConfig>
        <URLprefix>/kubernetes</URLprefix>
    </Server>
<DomainInfo>
    <NVFIPopList>
        <NfviPop>
            <networkConnectivityEndpoint>192.168.3.30</networkConnectivityEndpoint>
            <geographicalLocationInfo>Pisa</geographicalLocationInfo>
            <nfviPopId>1</nfviPopId>
            <vimId>1</vimId>
            <vlanFrom>10</vlanFrom>
            <vlanTill>30</vlanTill>
            <inter_pop_physical_network>ens8</inter_pop_physical_network>
        </NfviPop>
    </NVFIPopList>
    <Zonelist>
        <Zone>
            <zoneId>nova1</zoneId>
            <nfviPopId>1</nfviPopId>
            <zoneName>nova</zoneName>
            <zoneState>available</zoneState>
            <zoneProperty>cpu</zoneProperty>
        </Zone>
    </Zonelist>
</DomainInfo>
</VIM>