/*
 * 5GT-MTP PA API
 * REST-API for the MTP PA. Find more at http://5g-transformer.eu
 *
 * OpenAPI spec version: 0.0.0
 * Contact: cnd@lists.cttc.es
 *
 * NOTE: This class is auto generated by the swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen.git
 * Do not edit the class manually.
 */


package io.swagger.client.api;

import io.swagger.client.ApiCallback;
import io.swagger.client.ApiClient;
import io.swagger.client.ApiException;
import io.swagger.client.ApiResponse;
import io.swagger.client.Configuration;
import io.swagger.client.Pair;
import io.swagger.client.ProgressRequestBody;
import io.swagger.client.ProgressResponseBody;

import com.google.gson.reflect.TypeToken;

import java.io.IOException;


import com.rl.extinterface.pa.swagger.client.model.CompRouteInput;
import com.rl.extinterface.pa.swagger.client.model.InlineResponse200;

import java.lang.reflect.Type;
import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;

public class InterNfviPopCompRouteApi {
    private ApiClient apiClient;

    public InterNfviPopCompRouteApi() {
        this(Configuration.getDefaultApiClient());
    }

    public InterNfviPopCompRouteApi(ApiClient apiClient) {
        this.apiClient = apiClient;
    }

    public ApiClient getApiClient() {
        return apiClient;
    }

    public void setApiClient(ApiClient apiClient) {
        this.apiClient = apiClient;
    }

    /**
     * Build call for compRouteInterNfviPop
     * @param interNfviConnectivityId Identifier of the interNfviPop connection to be computed. (required)
     * @param params  (required)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call compRouteInterNfviPopCall(String interNfviConnectivityId, CompRouteInput params, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = params;

        // create path and map variables
        String localVarPath = "/compRoute/{interNfviConnectivityId}"
            .replaceAll("\\{" + "interNfviConnectivityId" + "\\}", apiClient.escapeString(interNfviConnectivityId.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] {  };
        return apiClient.buildCall(localVarPath, "POST", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call compRouteInterNfviPopValidateBeforeCall(String interNfviConnectivityId, CompRouteInput params, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        // verify the required parameter 'interNfviConnectivityId' is set
        if (interNfviConnectivityId == null) {
            throw new ApiException("Missing the required parameter 'interNfviConnectivityId' when calling compRouteInterNfviPop(Async)");
        }
        
        // verify the required parameter 'params' is set
        if (params == null) {
            throw new ApiException("Missing the required parameter 'params' when calling compRouteInterNfviPop(Async)");
        }
        

        com.squareup.okhttp.Call call = compRouteInterNfviPopCall(interNfviConnectivityId, params, progressListener, progressRequestListener);
        return call;

    }

    /**
     * Computes the interNfviPop connectivity between a pair of PEs with specific network constraints and selects specific servers/hosts within NfviPops
     * Computes the interNfviPop connectivity between a pair of PEs with specific network constraints and selects specific servers/hosts within NfviPops
     * @param interNfviConnectivityId Identifier of the interNfviPop connection to be computed. (required)
     * @param params  (required)
     * @return InlineResponse200
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public InlineResponse200 compRouteInterNfviPop(String interNfviConnectivityId, CompRouteInput params) throws ApiException {
        ApiResponse<InlineResponse200> resp = compRouteInterNfviPopWithHttpInfo(interNfviConnectivityId, params);
        return resp.getData();
    }

    /**
     * Computes the interNfviPop connectivity between a pair of PEs with specific network constraints and selects specific servers/hosts within NfviPops
     * Computes the interNfviPop connectivity between a pair of PEs with specific network constraints and selects specific servers/hosts within NfviPops
     * @param interNfviConnectivityId Identifier of the interNfviPop connection to be computed. (required)
     * @param params  (required)
     * @return ApiResponse&lt;InlineResponse200&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<InlineResponse200> compRouteInterNfviPopWithHttpInfo(String interNfviConnectivityId, CompRouteInput params) throws ApiException {
        com.squareup.okhttp.Call call = compRouteInterNfviPopValidateBeforeCall(interNfviConnectivityId, params, null, null);
        Type localVarReturnType = new TypeToken<InlineResponse200>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Computes the interNfviPop connectivity between a pair of PEs with specific network constraints and selects specific servers/hosts within NfviPops (asynchronously)
     * Computes the interNfviPop connectivity between a pair of PEs with specific network constraints and selects specific servers/hosts within NfviPops
     * @param interNfviConnectivityId Identifier of the interNfviPop connection to be computed. (required)
     * @param params  (required)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call compRouteInterNfviPopAsync(String interNfviConnectivityId, CompRouteInput params, final ApiCallback<InlineResponse200> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = compRouteInterNfviPopValidateBeforeCall(interNfviConnectivityId, params, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<InlineResponse200>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
}
